@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }  */

  /* .v-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .v-main{
    min-height: 100vh;
  }

  .v-main__scroller {
    max-width: 100%;
    position: relative;
    overflow-y: auto;
  } */
